.logo {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;

    padding: 14px 0 0 14px;
    text-decoration: none;
}

.logo__name {
    display: table;
}

.logo__name__text {
    color: black;
    font-size: 26px;
    font-weight: 700;
    display: table-cell;
    padding-right: 4px;
}

.logo__name__version {
    color: #838383;
    font-size: 10px;
    font-weight: 600;
    display: table-cell;
}